In [29]:
import pandas as pd
df = pd.read_csv('BTCUSD_last_few_years_1h_2023.csv')

In [30]:
# TO GENERATE 4 HOURS DATAFRAME
df_4h = pd.DataFrame()
for _, group in df.groupby(by=['year','month','day']):
    for i in list(range(0, len(group), 4)):
        df = group.iloc[i:i+4]
        ohlc_data = pd.DataFrame({
        'high' : [df['max'].max()],
        'low' : [df['min'].min()],
        'open' : [df.iloc[0].open],
        'close' : [df.iloc[-1].close],
        'year': [df.iloc[0].year],
        'month': [df.iloc[0].month],
        'day': [df.iloc[0].day],
        'hour': [df.iloc[0].hour],
        })

        ohlc_data.index = pd.to_datetime([f"{int(df.iloc[-1].year)}-{int(df.iloc[-1].month)}-{int(df.iloc[-1].day)}"])
        df_4h = pd.concat([df_4h, ohlc_data])

In [31]:
df_4h['year'] = df_4h.index.year.astype(int)
df_4h['month'] = df_4h.index.month.astype(int)
df_4h['day'] = df_4h.index.day.astype(int)
df_4h['day_name'] = df_4h.index.day_name()
df_4h['hour'] = df_4h['hour'].astype(int)
df_4h['max'] = df_4h[['open', 'high', 'low', 'close']].max(axis=1)
df_4h['min'] = df_4h[['open', 'high', 'low', 'close']].min(axis=1)
df_4h['difference'] = df_4h['max'] - df_4h['min']
df_4h['candle_body'] = df_4h['open'] - df_4h['close']
df_4h['high_shadow'] = df_4h['high'] - df_4h[['open', 'close']].max(axis=1)
df_4h['low_shadow'] = df_4h['low'] - df_4h[['open', 'close']].min(axis=1)
df_4h['low-open'] = df_4h['low'] - df_4h['open']
df_4h['high-open'] = df_4h['high'] - df_4h['open']
df_4h['trend'] = df_4h['candle_body'].apply(lambda x: "UP" if x < 0 else "ZERO" if x == 0 else "DOWN")
df_4h['7_EMA'] = df_4h['close'].ewm(span=7, adjust=False).mean()
df_4h['15_EMA'] = df_4h['close'].ewm(span=15, adjust=False).mean()
df_4h['50_EMA'] = df_4h['close'].ewm(span=50, adjust=False).mean()
df_4h['200_EMA'] = df_4h['close'].ewm(span=200, adjust=False).mean()

In [32]:
df_4h.head(12)

,high,low,open,close,year,month,day,hour,day_name,max,...,candle_body,high_shadow,low_shadow,low-open,high-open,trend,7_EMA,15_EMA,50_EMA,200_EMA
2023-01-01,16564.591797,16529.074219,16547.914062,16548.863281,2023,1,1,0,Sunday,16564.591797,...,-0.949219,15.728516,-18.839844,-18.839844,16.677734,UP,16548.863281,16548.863281,16548.863281,16548.863281
2023-01-01,16554.113281,16525.914062,16546.429688,16536.476562,2023,1,1,4,Sunday,16554.113281,...,9.953125,7.683594,-10.562500,-20.515625,7.683594,DOWN,16545.766602,16547.314941,16548.377528,16548.740030
2023-01-01,16557.404297,16521.234375,16536.546875,16556.072266,2023,1,1,8,Sunday,16557.404297,...,-19.525391,1.332031,-15.312500,-15.312500,20.857422,UP,16548.343018,16548.409607,16548.679282,16548.812988
2023-01-01,16568.505859,16550.871094,16556.236328,16559.427734,2023,1,1,12,Sunday,16568.505859,...,-3.191406,9.078125,-5.365234,-5.365234,12.269531,UP,16551.114197,16549.786873,16549.100790,16548.918607
2023-01-01,16622.144531,16559.707031,16559.707031,16607.916016,2023,1,1,16,Sunday,16622.144531,...,-48.208984,14.228516,0.000000,0.000000,62.437500,UP,16565.314651,16557.053016,16551.407269,16549.505646
2023-01-01,16630.439453,16604.000000,16608.708984,16625.515625,2023,1,1,20,Sunday,16630.439453,...,-16.806641,4.923828,-4.708984,-4.708984,21.730469,UP,16580.364895,16565.610842,16554.313479,16550.261964
2023-01-02,16677.062500,16572.228516,16625.509766,16675.173828,2023,1,2,0,Monday,16677.062500,...,-49.664062,1.888672,-53.281250,-53.281250,51.552734,UP,16604.067128,16579.306215,16559.053101,16551.504868
2023-01-02,16751.025391,16635.173828,16673.560547,16733.320312,2023,1,2,4,Monday,16751.025391,...,-59.759766,17.705078,-38.386719,-38.386719,77.464844,UP,16636.380424,16598.557977,16565.887109,16553.313977
2023-01-02,16759.343750,16713.490234,16730.894531,16734.787109,2023,1,2,8,Monday,16759.343750,...,-3.892578,24.556641,-17.404297,-17.404297,28.449219,UP,16660.982096,16615.586619,16572.510639,16555.119680
2023-01-02,16744.224609,16693.642578,16735.609375,16739.277344,2023,1,2,12,Monday,16744.224609,...,-3.667969,4.947266,-41.966797,-41.966797,8.615234,UP,16680.555908,16631.047959,16579.050509,16556.952095
2023-01-02,16741.488281,16716.585938,16738.236328,16738.470703,2023,1,2,16,Monday,16741.488281,...,-0.234375,3.017578,-21.650391,-21.650391,3.251953,UP,16695.034606,16644.475802,16585.302282,16558.758250
2023-01-02,16759.111328,16688.482422,16738.769531,16688.482422,2023,1,2,20,Monday,16759.111328,...,50.287109,20.341797,0.000000,-50.287109,20.341797,DOWN,16693.396560,16649.976630,16589.348562,16560.049038

In [33]:
df_4h.to_csv('BTCUSD_2023_4h.csv',index=True)