In [1]:
import pandas as pd

In [2]:
df_30 = pd.read_csv('nifty_30m_august_2024.csv')
df_30.index = pd.to_datetime(df_30.index)
df_5 = pd.read_csv('nifty_5m_august_2024.csv')
df_5.index = pd.to_datetime(df_5.index)

In [3]:
import mplfinance as mpf

In [4]:
m30_dfs = [group for _, group in df_30[['year','month','day','open','high','low','close']].groupby('day')]

In [5]:
len(m30_dfs)

21

In [10]:
df_5
# Taking a first three rows of each day.
df_5 = df_5.groupby(df_5['day']).head(3)
df_5

,datetime,open,high,low,close,adj close,volume,year,month,hour,day,day_name,max,min,difference,candle_body,high_shadow,low_shadow,trend
1970-01-01 00:00:00.000000000,2024-08-01 09:15:00+05:30,25030.949219,25054.300781,25012.500000,25053.150391,25053.150391,0,2024,8,9,1,Thursday,25054.300781,25012.500000,41.800781,-22.201172,23.351562,40.650391,DOWN
1970-01-01 00:00:00.000000001,2024-08-01 09:20:00+05:30,25054.050781,25077.300781,25049.400391,25058.250000,25058.250000,0,2024,8,9,1,Thursday,25077.300781,25049.400391,27.900391,-4.199219,23.250000,8.849609,DOWN
1970-01-01 00:00:00.000000002,2024-08-01 09:25:00+05:30,25058.750000,25063.050781,25050.800781,25054.050781,25054.050781,0,2024,8,9,1,Thursday,25063.050781,25050.800781,12.250000,4.699219,4.300781,3.250000,UP
1970-01-01 00:00:00.000000075,2024-08-02 09:15:00+05:30,24824.199219,24835.699219,24754.949219,24829.349609,24829.349609,0,2024,8,9,2,Friday,24835.699219,24754.949219,80.750000,-5.150391,11.500000,74.400391,DOWN
1970-01-01 00:00:00.000000076,2024-08-02 09:20:00+05:30,24829.900391,24838.500000,24812.050781,24818.599609,24818.599609,0,2024,8,9,2,Friday,24838.500000,24812.050781,26.449219,11.300781,8.599609,6.548828,UP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000001426,2024-08-29 09:20:00+05:30,25029.599609,25051.349609,25027.500000,25051.349609,25051.349609,0,2024,8,9,29,Thursday,25051.349609,25027.500000,23.849609,-21.750000,21.750000,23.849609,DOWN
1970-01-01 00:00:00.000001427,2024-08-29 09:25:00+05:30,25052.099609,25073.500000,25049.000000,25054.250000,25054.250000,0,2024,8,9,29,Thursday,25073.500000,25049.000000,24.500000,-2.150391,21.400391,5.250000,DOWN
1970-01-01 00:00:00.000001500,2024-08-30 09:15:00+05:30,25229.250000,25256.050781,25225.849609,25239.849609,25239.849609,0,2024,8,9,30,Friday,25256.050781,25225.849609,30.201172,-10.599609,26.800781,14.000000,DOWN
1970-01-01 00:00:00.000001501,2024-08-30 09:20:00+05:30,25239.599609,25247.199219,25225.099609,25237.900391,25237.900391,0,2024,8,9,30,Friday,25247.199219,25225.099609,22.099609,1.699219,7.599609,12.800781,UP
1970-01-01 00:00:00.000001502,2024-08-30 09:25:00+05:30,25238.500000,25257.949219,25234.699219,25253.000000,25253.000000,0,2024,8,9,30,Friday,25257.949219,25234.699219,23.250000,-14.500000,19.449219,18.300781,DOWN

In [11]:
# Add a 'source' column to distinguish between pd1 and pd2
df_5['source'] = 'A'
df_30['source'] = 'B'

# Concatenate both DataFrames
merged_df = pd.concat([df_5, df_30])

# Sort by 'date' and then by 'source' (pd1 rows come before pd2 rows)
merged_df = merged_df.sort_values(by=['day', 'source'], ascending=[True, True])

merged_df

,datetime,open,high,low,close,adj close,volume,year,month,hour,...,day_name,max,min,difference,candle_body,high_shadow,low_shadow,trend,source,minute
1970-01-01 00:00:00.000000000,2024-08-01 09:15:00+05:30,25030.949219,25054.300781,25012.500000,25053.150391,25053.150391,0,2024,8,9,...,Thursday,25054.300781,25012.500000,41.800781,-22.201172,23.351562,40.650391,DOWN,A,NaN
1970-01-01 00:00:00.000000001,2024-08-01 09:20:00+05:30,25054.050781,25077.300781,25049.400391,25058.250000,25058.250000,0,2024,8,9,...,Thursday,25077.300781,25049.400391,27.900391,-4.199219,23.250000,8.849609,DOWN,A,NaN
1970-01-01 00:00:00.000000002,2024-08-01 09:25:00+05:30,25058.750000,25063.050781,25050.800781,25054.050781,25054.050781,0,2024,8,9,...,Thursday,25063.050781,25050.800781,12.250000,4.699219,4.300781,3.250000,UP,A,NaN
1970-01-01 00:00:00.000000000,2024-08-01 09:30:00,25053.400391,25064.349609,25026.199219,25052.849609,25052.849609,0,2024,8,9,...,Thursday,25064.349609,25026.199219,38.150391,0.550781,10.949219,26.650391,UP,B,30.0
1970-01-01 00:00:00.000000001,2024-08-01 10:00:00,25053.550781,25056.599609,25021.300781,25021.300781,25021.300781,0,2024,8,10,...,Thursday,25056.599609,25021.300781,35.298828,32.250000,3.048828,0.000000,UP,B,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000000247,2024-08-30 13:00:00,25239.050781,25250.750000,25228.650391,25235.500000,25235.500000,0,2024,8,13,...,Friday,25250.750000,25228.650391,22.099609,3.550781,11.699219,6.849609,UP,B,0.0
1970-01-01 00:00:00.000000248,2024-08-30 13:30:00,25234.849609,25246.800781,25231.150391,25238.099609,25238.099609,0,2024,8,13,...,Friday,25246.800781,25231.150391,15.650391,-3.250000,11.951172,6.949219,DOWN,B,30.0
1970-01-01 00:00:00.000000249,2024-08-30 14:00:00,25238.199219,25262.150391,25237.400391,25245.400391,25245.400391,0,2024,8,14,...,Friday,25262.150391,25237.400391,24.750000,-7.201172,23.951172,8.000000,DOWN,B,0.0
1970-01-01 00:00:00.000000250,2024-08-30 14:30:00,25245.599609,25246.349609,25223.199219,25234.699219,25234.699219,0,2024,8,14,...,Friday,25246.349609,25223.199219,23.150391,10.900391,0.750000,11.500000,UP,B,30.0
1970-01-01 00:00:00.000000251,2024-08-30 15:00:00,25233.050781,25265.050781,25206.800781,25247.000000,25247.000000,0,2024,8,15,...,Friday,25265.050781,25206.800781,58.250000,-13.949219,32.000000,40.199219,DOWN,B,0.0

In [15]:
import os

In [13]:
# Create a list to store the grouped results
august_dfs = []

# Get the unique dates in the DataFrame
unique_days = merged_df['day'].unique()

# Iterate over the dates, excluding the last one
for i in range(len(unique_days) - 1):
    current_day_data = merged_df[merged_df['day'] == unique_days[i]]
    
    # Get the next day's data (first 3 rows)
    next_day_data = merged_df[merged_df['day'] == unique_days[i + 1]].head(3)
    
    # Concatenate current day's data with next day's data
    combined_data = pd.concat([current_day_data, next_day_data])
    
    # Append to the grouped list
    august_dfs.append(combined_data)

In [16]:
for august_df in august_dfs:
# Plot candlestick chart
    directory_path = f"{os.getcwd()}/{str(merged_df['year'].iloc[0])}_{str(merged_df['month'].iloc[0])}/up_down_analysis"
    if not os.path.exists(directory_path):
        os.makedirs(directory_path)
    mpf.plot(august_df, type='candle', style='charles', title='Candlestick Chart', ylabel='Price', savefig=os.path.join(directory_path,str(august_df['day'].iloc[0])))